page-home {

    div#player{
        margin: 10px;
        ion-icon{
            margin-left: 10px;
            margin-right: 10px;
            zoom:2.0;
        }
    }
    
    div#playlist{
        ion-card-content{
            text-align: left;
            align-content: right; //muda nada
            width: 100%;
            
            float: left;
            /*button{
                width: 20%;
                float: right;            
                background-color: red;
            }*/
        }
        
    }

    ion-content{
        text-align: center;
    } 
    
    
}

   
