<ion-header>
    <ion-navbar>
      <ion-title>Home</ion-title>
    </ion-navbar>
  </ion-header> 


<ion-content padding>
  <h3>Ionic Player</h3>
  <!--p>{{teste}}</p-->

  <button ion-button secondary (click)="limpaLista()">Limpa lista <br>{{nome_lista_atual}}</button><br>
  <ion-card *ngFor="let m of file" (click)="toca(m.caminho_arquivo)"><!--> (click)="controlProgressBar(0)"-->
  <div id="playlist">
    <ion-card-content>
        <ion-icon name="musical-notes"> {{m.nome_arquivo}}</ion-icon>
    </ion-card-content> 
  </div>

  </ion-card>
    <p ></p>
 


    <ion-card>
      <div id="playlist" *ngFor="let s of SQL">
        <ion-card-content>
            <ion-icon name="musical-notes"> {{s}}</ion-icon>
        </ion-card-content> 
      </div>
       </ion-card>
</ion-content>

<ion-footer>

  <div align="center" id="player">
      <ion-range min="0" max="{{duration}}" [(ngModel)]="position"> <!--  [disabled]="is_in_play && is_playing"  -->
        <ion-label range-left *ngIf="position == -0.001" >00:00</ion-label>
        <ion-label range-left *ngIf="position != -0.001" >{{ position*1000 | date:'mm:ss' }}</ion-label>
        <ion-label range-right *ngIf="duration == -1" >--:--</ion-label>
        <ion-label range-right *ngIf="duration != -1" >{{ duration*1000 | date:'mm:ss' }}</ion-label>
      </ion-range>  
    <!--ion-item>
          <ion-range min="0" max="100" [(ngModel)]="position" color="secondary" (ionChange)="controlProgressBar($event)"></ion-range>
        </ion-item-->
    <ion-icon name= "md-{{pp}}" (click)="toca()"></ion-icon>
    <ion-icon name= "md-square" (click)="para()"></ion-icon>  
  </div>
  
</ion-footer>